*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

i, svg {
    pointer-events: none;
}
.kick-pad,.snare-pad,.hihat-pad {
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
}
.kick-pad {
    background: rgb(4, 155, 175);
}
.snare-pad{
    background: rgb(100, 175, 29);
}
.hihat-pad {
    background: rgb(140, 23, 175);
}
.sequencer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.hihat-track, .snare-track, .kick-track {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-around;
    margin-top: 5rem;
    margin-left: 5rem;
}
.kick, .hihat,.snare{
    display: flex;
}
.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0rem 2rem;
}
.controls button {
    padding: 1rem;
    border: none;
    background: rgb(90, 66, 66);
    color: white;
    cursor: pointer;
}
.pad {
    transition: all 0.5s ease;
}
.kick-pad.active {
    background: rgb(3, 89, 100);
}
.snare-pad.active {
    background: rgb(51, 90, 15);
}
.hihat-pad.active {
    background: rgb(68, 12, 85);;
}
.play {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background: darkgoldenrod;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 3rem;
}
select {
    padding: 1rem;
    font-size: 1rem;
}
